<h1>
	 Welcome to register page
</h1>

<form  method="POST" action="/register" >
			 
		<input type ="text" name="username" placeholder="username">
		<input type ="password" name="password" placeholder="password">
		<button>
			Submit
		</button>

	
</form>

<li><a href="/login"> Sign  In</a></li>
<li><a href="/register"> Sign Up</a></li>
<li><a href="/logout"> Logout</a></li>