<h1>
	 This is a secret page
</h1>

<img src = "https://pngriver.com/wp-content/uploads/2018/04/Download-Treasure-PNG-Images.png">

<li><a href="/login"> Sign  In</a></li>
<li><a href="/register"> Sign Up</a></li>
<li><a href="/logout"> Logout</a></li>